<div class="input-group mb-3">
  <input class="form-control" type="number" name="ac1" [(ngModel)]="ac1" placeholder="AC1">
  <input class="form-control" type="number" name="ac2" [(ngModel)]="ac2" placeholder="AC2">
  <input class="form-control" type="number" name="ag" [(ngModel)]="ag" placeholder="AG">
  <input class="form-control" type="number" name="af" [(ngModel)]="af" placeholder="AF">
  <input class="form-control" type="number" name="resultado" [(ngModel)]="resultado" placeholder="Resultado">
  <button (click)="calcularMedia()" class="btn btn-outline-primary">Calcular médica</button>
</div>
