<div class="input-group mb-3">
  <input class="form-control" type="number" name="num1" [(ngModel)]="num1" placeholder="Número 1">
  <input class="form-control" type="number" name="num2" [(ngModel)]="num2" placeholder="Número 2">
  <input class="form-control" type="number" name="resultado" [(ngModel)]="resultado" placeholder="Resultado">
  <button (click)="somar()" class="btn btn-outline-primary">Somar</button>
  <button (click)="subtrair()" class="btn btn-outline-primary">Subtrair</button>
  <button (click)="multiplicar()" class="btn btn-outline-primary">Multiplicar</button>
  <button (click)="dividir()" class="btn btn-outline-primary">Dividir</button>
</div>
